:root {
    
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lavender;
    max-width: 1240px;
    margin: 2px;
    padding: 2px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices {
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}

#high-scores-link {
    color: ;
}